.calculatorContent {
  width: 235px;
  height: 320px;
  border-radius: 5px;
  box-shadow: 0 0 1em black;

  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 1fr 48px 48px 48px 48px 48px;
}
